langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.37
langchain-text-splitters==0.2.2
langchain-openai==0.1.22

langchain-ollama==0.1.1
ollama==0.6.2

langchainhub==0.1.21
requests==2.31.0
tavily-python
python-dotenv
packaging>=24.0,<25

yfinance
streamlit
ipython